/**
 * Colors.
 */

$grey1: #ececec;
$blue1: #0c6291;
$orange1: #ff9e15;
$red1: #e04f3c;
$max-page-width: 1200px;

/**
 * Styles.
 */
body {
  background: $grey1;
  font-family: 'Droid Sans', sans-serif;
}

a,
a:link,
a:visited {
  color: $blue1;
}

#main,
#header {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;

}

#header-over {

}

#site-name{
  padding: 0.25em 1em;
}

#navigation{
  padding: 0.5em 0;
  ul.links {
    li {
      background: transparent;
      font-size: 1.2em;
      text-transform: uppercase;
      a {
        display: block;

        padding: 0.25em 0.5em;
      }
      margin: 0 0.5em;
      text-align: center;
      padding: 0;
    }
    li:hover{
       background: $orange1;
       a{
        color: white;
       }
    }
    li.active {
       background: $red1;
       a{
        color: white;
       }
    }
  }
  a {
    text-decoration: none;

  }
}

table {
  width: 100%;
  th {
    background-color: #f0f0f0;
    border-color: #d9d9d9;
    padding: 5px;
    text-align: center;
    border: 1px solid #e5e5e5;
    vertical-align: top;
    font-weight: bold;
  }

  tr {
    td {
      border-right: 1px solid $orange1;
      border-bottom: 1px solid $orange1;
      padding: 10px;
      background-color: #fff;
      padding: 5px;

      border: 1px solid #e5e5e5;
      vertical-align: top;
    }
  }

  tr.even,
  tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
  }
  tr.odd td {
    background-color: #f7f7f7;
  }
  tr.odd:hover td,
  tr:hover td {
    background-color: #fcf1ed;
  }
}

#page-title{
  color: $red1;
}
