/**
 * Colors.
 */

$grey1: #ececec;
$grey2: #a5a4a4;
$blue1: #007aac;
$orange1: #faf3de;
$bg1: #faf3de;
$red1: #eb4e3a;
$max-page-width: 1200px;

/**
 * Styles.
 */
body {
  background: url(../images/body-bg1.png);
  font-family: 'Droid Sans', sans-serif;
}

a,
a:link,
a:visited {
  color: $blue1;
}

#main,
#header {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
}

#header-over {

}

#site-name{
  padding: 0.25em 1em;
}

#mainmenu-over {
  background: url(../images/menu-bg1.png);
  margin-top: 0em;
}

#mainmenu {
  padding: 0;
  h2.block-title{
    display: none;
  }
  .block {
    margin: 0;
    padding: 0;
  }
  ul#superfish-1.sf-menu {

    li {
      display: inline;
      padding:  0.7 1em;
      background: transparent;
      font-size: 1.2em;
      ul{
        margin: 0;
        padding: 0;
        top: 2em;
        li {
          text-align: left;
          margin: 0;
          padding: 0;
          background: $red1;
          a {

          }
        }
        li:hover  a {
          color: black;
        }
      }
      a {
        color: white;
        display: block;
        padding: 0.5em 0.5em;
      }
      margin: 0 0.5em;
      text-align: center;

    }

    li:hover{
       background: $orange1;
    }

    li:hover >  a{
      color: black;

    }
    li.active-trail,
    li.active {
       background: $blue1;
       a{
        color: white;
       }
    }
    li:hover,
    li.active,
    li.active-trail {
      ul {
        top: 2em;
      }
     }
  }
  a {
    text-decoration: none;
  }
}

table {
  width: 100%;
  th {
    background-color: #f0f0f0;
    border-color: #d9d9d9;
    padding: 5px;
    text-align: center;
    border: 1px solid #e5e5e5;
    vertical-align: top;
    font-weight: bold;
  }

  tr {
    td {
      border-right: 1px solid $orange1;
      border-bottom: 1px solid $orange1;
      padding: 10px;
      background-color: #fff;
      padding: 5px;

      border: 1px solid #e5e5e5;
      vertical-align: top;
    }
  }

  tr.even,
  tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
  }
  tr.odd td {
    background-color: #f7f7f7;
  }
  tr.odd:hover td,
  tr:hover td {
    background-color: #fcf1ed;
  }
}

#page-title{
  color: $red1;
}

.view-bannerslider{
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
    }
  }
}

#admin-menu-icon img {
  width: 15px;
  height: 15px;
}

/** ---------------------------------  */

#header-over-bg{
   background: url(../images/header-bg3.png) repeat-x;
   height: 330px;
}

#header-over {
  height: 330px;
  @media all and (max-width: 480px) {
    background: url(../images/header-bg2_480.png)  no-repeat center center;
  }

  @media all and (min-width: 481px) and (max-width: 959px) {
    background: url(../images/header-bg2_959.png)  no-repeat center center;
  }

  @media all and (min-width: 960px) {
    background: transparent url(../images/header-bg2.png) no-repeat center center;
  }
}

#header-bar {
  background: url("../images/header-bar-center1.png") repeat-x;
  overflow: hidden;
  text-align: center;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  position: relative;

  #header-bar-center {
    height:67px;
  }
  #header-bar-left {
    background: url("../images/header-bar-left1.png") repeat-x;
    height:67px;
    width: 60px;
  }
  #header-bar-right {
    background: url("../images/header-bar-right1.png") repeat-x;
    height:67px;
    width: 60px;
  }

  #header-bar-left {
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
  }

  #header-bar-right {
    position: absolute;
    top:0;
    right: 0;
    z-index: 100;
  }
  #header-bar-center-text {
    padding: 0 67px;
  }

  @media all and (max-width: 480px) {
    background: url("../images/header-bar-center2.png") repeat-x;
    #header-bar-center {
      height:134px;
    }
    #header-bar-left {
      background: url("../images/header-bar-left2.png") repeat-x;
      height:134px;
      width: 60px;
    }
    #header-bar-right {
      background: url("../images/header-bar-right2.png") repeat-x;
      height:134px;
      width: 60px;
    }
  }

  @media all and (min-width: 481px) and (max-width: 959px) {
   /*  background: url("../images/header-bar-center3.png") repeat-x;
    #header-bar-center {
      height:100px;
    }
    #header-bar-left {
      background: url("../images/header-bar-left3.png") repeat-x;
      height:100px;

    }
    #header-bar-right {
      background: url("../images/header-bar-right3.png") repeat-x;
      height:100px;

    } */
  }

  @media all and (min-width: 960px) {
    max-width: 1289px;
    margin: auto;
    #header-bar-center {

    }

  }
}

#user-links{
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      padding: 0 0.5em;
    }
  }

  @media all and (max-width: 480px) {

  }

  @media all and (min-width: 481px) and (max-width: 959px) {

  }

  @media all and (min-width: 960px) {
    ul  {
      padding: 0.5em;
    }
  }
}

#conference-statistics {

  span {
    background: white;
    color: $red1;
    padding: 0.2em;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  div {
    float: left;
  }

  @media all and (max-width: 480px) {

  }

  @media all and (min-width: 481px) and (max-width: 959px) {

  }

  @media all and (min-width: 960px) {
    div {
      padding: 0.5em 1em;
    }
  }
}

#social-links {
  ul {
    margin:0;
    padding:0;
    li {
      display: inline;
    }
  }
  .facebook,
  .twitter,
  .gplus,
  .linkedin,
  .rss {
    text-indent: -2000px;
    font-size: 0;
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    padding-right: 0.5em;
  }

  .facebook {
    background: url(../images/fb1.png) no-repeat;

  }
  .twitter {
    background: url(../images/twitter1.png) no-repeat;
  }
  .gplus {
    background: url(../images/linkedin1.png) no-repeat;
  }
  .linkedin {
    background: url(../images/linkedin1.png) no-repeat;
  }
  .rss {
    background: url(../images/rss1.png) no-repeat;
  }

  @media all and (max-width: 480px) {

  }

  @media all and (min-width: 481px) and (max-width: 959px) {

  }

  @media all and (min-width: 960px) {
    ul {
      padding: 0.5em 0;
    }
  }
}

#header-bar-center {
  #user-links{
    text-align: right;
  }
  #conference-statistics {
    text-align: left;
    ul {
      margin: 0;
      padding: 0.5em;
      li {
        display: inline;
        padding:  0.5em;
      }
    }
  }

  @media all and (max-width: 480px) {
    font-size: 0.70em;

    $zen-column-count: 4;
    #conference-statistics {
      @include zen-grid-item(2, 1);
    }
    #user-links {
      @include zen-grid-item(2, 3);

    }

     #conference-statistics {


      ul {
        margin: 0;
        padding: 0.5em 0;
        li {
          display: block;
          padding:  0 0.2em 0 0;
        }
      }

     }
     #user-links {
      font-size: 1.1em;
      ul {
        padding: 0.5em 0;
        li {
          display: block;
        }
      }
     }

  }

  @media all and (min-width: 481px) and (max-width: 959px) {
    font-size: 0.9em;
    $zen-column-count: 4;
    #conference-statistics {
      @include zen-grid-item(3, 1);
    }
    #user-links {
      @include zen-grid-item(1, 4);
    }
  }

  @media all and (min-width: 960px) {

    $zen-column-count: 4;
    #conference-statistics {
      @include zen-grid-item(2, 1);
    }
    #user-links {
      @include zen-grid-item(2, 3);
    }
   /*  #social-links {
      @include zen-grid-item(1, 4);
    } */
  }
}

#main{
  padding-top: 1em;
  #content{
    background: $bg1;
    min-height: 30em;
    h1.title {
      text-transform: uppercase;
    }
  }
}

#main,
#footer {
  .block {
    background: $bg1;
    padding: 0.5em 1em;
    h2.block-title {
      color: $red1;
      text-transform: uppercase;
      line-height: 1.7em;
    }
  }
}

#footer{
  margin-top: 1em;
  #block-block-1{
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 1em 0;
    > div {
      padding: 0.5em;
    }
  }
}

/* node */

.submitted{
  color: $grey2;
  font-size: 0.9em;
}

.node-news {
  p {
    margin: 0;
  }
}

.node-news.node-teaser {
  .field-name-field-news-image{
    float: left;
    margin: 0 1em 1em 0;
  }

  ul.links{
    clear: both;
    float: right;
  }
}


.view-people{
  clear: both;
  float: left;
  width: 100%;
  .views-row{
    font-size: 0.9em;
    float: left;
    margin: 1em;
    width: 150px;
    height: 250px;
    overflow: hidden;
    text-align: center;

    p {
      margin:0 ;
    }
  }
}
